.box{
	width:1030px;
	height:370px;
	background-color:#FFF;}
.box .pn1,.pn2,.pn3,.pn4,.pn5,.pn6,.pn7,.pn8{
	width:250px;
	height:180px;}
.box .pn1{
	background-image:url(opc/1.jpg);
	float:left;}
.box .pn2{
	background-image:url(opc/2.jpg);
	float:left;
	margin-left:10px;}
.box .pn3{
	background-image:url(opc/3.jpg);
	float:left;
	margin-left:10px;}
.box .pn4{
	background-image:url(opc/4.jpg);
	float:left;
	margin-left:10px;}
.box .pn5{
	background-image:url(opc/1.jpg);
	float:left;
	margin-top:10px;}
.box .pn6{
	background-image:url(opc/2.jpg);
	float:left;
	margin-left:10px;
	margin-top:10px;}
.box .pn7{
	background-image:url(opc/3.jpg);
	float:left;
	margin-left:10px;
	margin-top:10px;}
.box .pn8{
	background-image:url(opc/4.jpg);
	float:left;
	margin-left:10px;
	margin-top:10px;}
.box .nn{
	width:150px;
	height:150px;
	border-radius:150px;
	background-color:rgba(0,0,0,0.5);
	margin-left:50px;
	margin-top:15px;
	text-align:center;
	overflow:hidden;}
.box .nn p{
	font-size:25px;
	line-height:0px;
	color:#FFFFFF;
	margin-top:50px;}
.box .nn .price{
	font-size:16px;
	color:#FFFFFF;}
.box .nn .price span{
	color:#ff6600;
	font-size:25px;}